.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.idea/*
.eslintrc.json
Project_2_Beat_Mix/node_modules/*
Project_2_Beat_Mix/build/*
Project_2_Beat_Mix/node_modules/
Project_2_Beat_Mix/build/
Project_3_The_Daily_Scoop/node_modules/*
Project_3_The_Daily_Scoop/node_modules/
Project_3_The_Daily_Scoop/build/*
Project_3_The_Daily_Scoop/build/
project-4*
Codestrips/node_modules/*
Capstone_Project_2/node_modules/*